.App {
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.adding_form input,
.adding_form button,
.clearButton {
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.adding_form input {
  background: #e1e1e2;
}

.adding_form button,
.clearButton {
  background: #333;
  color: white;
  cursor: pointer;
}

.taskList {
  padding: 20px 0;
}

.taskList > div {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.taskList > div:last-child {
  border-bottom: 0;
}

.completed {
  text-decoration: line-through;
}
